
# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a data set which contains information World cup matches. Let's use the pandas commands learned in the previous lecture to learn more about our data!

## Objectives
You will be able to:
* Understand and explain some key Pandas methods
* Access DataFrame data by using the label
* Perform boolean indexing on both Series and DataFrames
* Use simple selectors for series
* Set new Series and DataFrame inputs

## Load the data

Load the file `WorldCupMatches.csv` as a dataframe in Pandas

In [4]:
import pandas as pd
df = pd.read_csv('WorldCupMatches.csv')

## Common methods and attributes

Use the correct method to look at the first 7 rows of the data set.

In [5]:
df.head(7)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
5,1930.0,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3.0,0.0,Mexico,,9249.0,1.0,0.0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.0,1095.0,CHI,MEX
6,1930.0,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4.0,0.0,Bolivia,,18306.0,0.0,0.0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201.0,1092.0,YUG,BOL

Look at the last 3 rows of the data set.

In [6]:
df.tail(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Get a concise summary of your data using `.info()`

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
Year                    852 non-null float64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null float64
Away Team Goals         852 non-null float64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null float64
Half-time Away Goals    852 non-null float64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null float64
MatchID                 852 non-null float64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

Obtain a tuple representing the number of rows and number of columns

In [13]:
df.shape

(4572, 20)

Use the appropriate attribute to get the column names

In [16]:
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting dataframe information

When looking at the dataframe's `.head()`, you might have noticed that the games are structured chronologically in the dataframe.

Use the right selection method to print all the information from the 3rd to the 5th game.

In [18]:
df.iloc[3:6]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
5,1930.0,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3.0,0.0,Mexico,,9249.0,1.0,0.0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.0,1095.0,CHI,MEX

Now, print all the info from game 5-9, but we're only interested to print out the "Home Team Name" and the "Away Team Name",

In [27]:
df.loc[5:9,['Home Team Name', 'Away Team Name']]

  Home Team Name Away Team Name
5          Chile         Mexico
6     Yugoslavia        Bolivia
7            USA       Paraguay
8        Uruguay           Peru
9          Chile         France

Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.

In [29]:
df.loc[(df["Year"]==1950) & (df["Stage"] == "Group 3")]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
56,1950.0,25 Jun 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Sweden,3.0,2.0,Italy,,36502.0,2.0,1.0,LUTZ Jean (SUI),BERANEK Alois (AUT),TEJADA Carlos (MEX),208.0,1219.0,SWE,ITA
61,1950.0,29 Jun 1950 - 15:30,Group 3,Durival de Brito,Curitiba,Sweden,2.0,2.0,Paraguay,,7903.0,2.0,1.0,MITCHELL Robert (SCO),LEMESIC Leo (YUG),GARCIA Prudencio (USA),208.0,1228.0,SWE,PAR
65,1950.0,02 Jul 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Italy,2.0,0.0,Paraguay,,25811.0,1.0,0.0,ELLIS Arthur (ENG),GARCIA Prudencio (USA),DE LA SALLE Charles (FRA),208.0,1218.0,ITA,PAR

Let's repeat the command above, but now we only want to print out the attendance colum for the Group 3 games

You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [30]:
df.loc[(df["Year"]==1950) & (df["Stage"] == "Group 3"), ["Attendance"]]

    Attendance
56     36502.0
61      7903.0
65     25811.0

Throughout the entire history of the world cup, How many Home games were played by the Netherlands?

In [32]:
df.loc[df["Home Team Name"]=="Netherlands"].shape #32 games

(32, 20)

How many games were playes by the Netherlands in total?

In [37]:
df.loc[(df["Home Team Name"]=="Netherlands") | (df["Away Team Name"]=="Netherlands")].shape #54 games total

(54, 20)

Next, let's try and figure out how many games the USA played in the 2014 world cup.

In [38]:
df.loc[(df["Year"]== 2014)& ((df["Home Team Name"] == "USA") | (df["Away Team Name"] == "USA"))] #5 games

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
785,2014.0,16 Jun 2014 - 19:00,Group G,Estadio das Dunas,Natal,Ghana,1.0,2.0,USA,,39760.0,0.0,1.0,ERIKSSON Jonas (SWE),KLASENIUS Mathias (SWE),WARNMARK Daniel (SWE),255931.0,300186512.0,GHA,USA
803,2014.0,22 Jun 2014 - 18:00,Group G,Arena Amazonia,Manaus,USA,2.0,2.0,Portugal,,40123.0,0.0,1.0,PITANA Nestor (ARG),MAIDANA Hernan (ARG),BELATTI Juan Pablo (ARG),255931.0,300186483.0,USA,POR
816,2014.0,26 Jun 2014 - 13:00,Group G,Arena Pernambuco,Recife,USA,0.0,1.0,Germany,,41876.0,0.0,0.0,Ravshan IRMATOV (UZB),RASULOV Abduxamidullo (UZB),KOCHKAROV Bakhadyr (KGZ),255931.0,300186469.0,USA,GER
835,2014.0,01 Jul 2014 - 17:00,Round of 16,Arena Fonte Nova,Salvador,Belgium,2.0,1.0,USA,Belgium win after extra time,51227.0,0.0,0.0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951.0,300186497.0,BEL,USA
843,2014.0,01 Jul 2014 - 17:00,Round of 16,Arena Fonte Nova,Salvador,Belgium,2.0,1.0,USA,Belgium win after extra time,51227.0,0.0,0.0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951.0,300186497.0,BEL,USA

Now, let's try to find out how many countries participated in the 1986 world cup.

Hint 1: as a first step, create a new data set that only contain games in that year.

Hint 2: You can use `.unique()` to make sure you don't end up with duplicate country names.

In [51]:
df2 = df.loc[df["Year"]==1986]
#df2.loc[(df["Home Team Name"].unique()) | (df["Away Team Name"].unique())]
len(pd.concat([df['Home Team Name'], df['Away Team Name']]).unique()) #84 Teams

84

In the world cup history, how matches had more than 5 goals in total?

In [57]:
len(df.loc[(df["Home Team Goals"]+ df["Away Team Goals"] > 5)]) #74 games

74

## Changing values and creating new columns

With the information you currently have in your `df`, create a new column "Half-time Goals".

In [63]:
df.loc[:,"Half-time Goals"] = (df["Half-time Home Goals"]+df["Half-time Away Goals"])
df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Games in Year,Half-time Goals
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,...,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX,NaN,3.0
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,...,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL,NaN,2.0
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,...,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA,NaN,2.0
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,...,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER,NaN,1.0
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,...,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA,NaN,0.0

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [66]:
#df.loc[df["Home Team Name"].str.contains('Korea'), "Home Team Name"]
df.loc[df["Home Team Name"].str.contains('Korea')]

ValueError: cannot index with vector containing NA / NaN values

Imagine that for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [68]:
df.loc[df["Home Team Name"].str.contains("Korea")==True, "Home Team Name"] = "Korea"
df.loc[df["Away Team Name"].str.contains("Korea")==True, "Away Team Name"] = "Korea"
df.loc[df["Home Team Name"].str.contains("Korea")==True, "Home Team Initials"] = "NSK"
df.loc[df["Away Team Name"].str.contains("Korea")==True, "Away Team Initials"] = "NSK"

Make sure to verify your answer!

In [73]:
df.loc[df["Away Team Name"] == "Korea"]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Games in Year,Half-time Goals
80,1954.0,17 Jun 1954 - 18:00,Group 2,Hardturm,Zurich,Hungary,9.0,0.0,Korea,,...,0.0,VINCENTI Raymond (FRA),VON GUNTER Albert (SUI),STEINER Carl (AUT),211.0,1294.0,HUN,NSK,NaN,4.0
88,1954.0,20 Jun 1954 - 17:00,Group 2,Charmilles,Geneva,Turkey,7.0,0.0,Korea,,...,0.0,MARINO Esteban (URU),ORLANDINI Vincenzo (ITA),SCHONHOLZER Ernest (SUI),211.0,1304.0,TUR,NSK,NaN,4.0
171,1966.0,12 Jul 1966 - 19:30,Group 4,Ayresome Park,Middlesbrough,Soviet Union,3.0,0.0,Korea,,...,0.0,GARDEAZABAL Juan (ESP),KANDIL Aly Hussein (EGY),DIENST Gottfried (SUI),238.0,1710.0,URS,NSK,NaN,2.0
195,1966.0,23 Jul 1966 - 15:00,Quarter-finals,Goodison Park,Liverpool,Portugal,5.0,3.0,Korea,,...,3.0,ASHKENAZI Menachem (ISR),GALBA Karol (TCH),SCHWINTE Pierre (FRA),239.0,1702.0,POR,NSK,NaN,5.0
364,1986.0,02 Jun 1986 - 12:00,Group A,Estadio Olmpico Universitario,Mexico City,Argentina,3.0,1.0,Korea,,...,0.0,SANCHEZ ARMINIO Victoriano (ESP),GONZALEZ ROA Gabriel (PAR),DIAZ PALACIO Jesus (COL),308.0,395.0,ARG,NSK,Argentina,2.0
421,1990.0,12 Jun 1990 - 17:00,Group E,Marc Antonio Bentegodi,Verona,Belgium,2.0,0.0,Korea,,...,0.0,MAURO Vincent (USA),SNODDY Alan (NIR),COURTNEY George (ENG),322.0,57.0,BEL,NSK,NaN,0.0
464,1994.0,17 Jun 1994 - 19:30,Group C,Cotton Bowl,Dallas,Spain,2.0,2.0,Korea,,...,0.0,MIKKELSEN Peter (DEN),CHRISTENSEN Carl-Johan Meyer (DEN),PEARSON Roy (ENG),337.0,3050.0,ESP,NSK,NaN,0.0
490,1994.0,27 Jun 1994 - 16:00,Group C,Cotton Bowl,Dallas,Germany,3.0,2.0,Korea,,...,0.0,QUINIOU Joel (FRA),IVANOV Valentin (RUS),HASSAN Abdel-Magid (EGY),337.0,3076.0,GER,NSK,NaN,3.0
542,1998.0,20 Jun 1998 - 21:00,Group E,Stade Vlodrome,Marseilles,Netherlands,5.0,0.0,Korea,,...,0.0,WOJCIK Ryszard (POL),POCIEGIEL Jacek (POL),DUPANOV Yuri (BLR),1014.0,8749.0,NED,NSK,NaN,2.0
556,1998.0,25 Jun 1998 - 16:00,Group E,Parc des Princes,Paris,Belgium,1.0,1.0,Korea,,...,0.0,REZENDE Marcio (BRA),PINTO Arnaldo (BRA),ARANGO Jorge Luis (COL),1014.0,8765.0,BEL,NSK,NaN,1.0
625,2002.0,14 Jun 2002 - 20:30,Group D,Incheon Football Stadium,Incheon,Portugal,0.0,1.0,Korea,,...,0.0,SANCHEZ Angel (ARG),ALTRAIFI Ali (KSA),SZEKELY Ferenc (HUN),43950100.0,43950047.0,POR,NSK,NaN,0.0
639,2002.0,22 Jun 2002 - 15:30,Quarter-finals,Gwangju World Cup Stadium,Gwangju,Spain,0.0,0.0,Korea,Korea Republic win on penalties (3 - 5),...,0.0,EL GHANDOUR Gamal (EGY),TOMUSANGE Ali (UGA),RAGOONATH Michael (TRI),43950300.0,43950059.0,ESP,NSK,NaN,0.0
640,2002.0,25 Jun 2002 - 20:30,Semi-finals,Seoul World Cup Stadium,Seoul,Germany,1.0,0.0,Korea,,...,0.0,MEIER Urs (SUI),ARNAULT Frederic (FRA),AMLER Evzen (CZE),43950400.0,43950061.0,GER,NSK,NaN,0.0
672,2006.0,18 Jun 2006 - 21:00,Group G,Zentralstadion,Leipzig,France,1.0,1.0,Korea,,...,0.0,ARCHUNDIA Benito (MEX),RAMIREZ Jose (MEX),VERGARA Hector (CAN),97410100.0,97410029.0,FRA,NSK,NaN,1.0
691,2006.0,23 Jun 2006 - 21:00,Group G,"FIFA World Cup Stadium, Hanover",Hanover,Switzerland,2.0,0.0,Korea,,...,0.0,ELIZONDO Horacio (ARG),GARCIA Dario (ARG),OTERO Rodolfo (ARG),97410100.0,97410046.0,SUI,NSK,NaN,1.0
721,2010.0,15 Jun 2010 - 20:30,Group G,Ellis Park Stadium,Johannesburg,Brazil,2.0,1.0,Korea,,...,0.0,KASSAI Viktor (HUN),EROS Gabor (HUN),VAMOS Tibor (HUN),249722.0,300061490.0,BRA,NSK,NaN,0.0
725,2010.0,17 Jun 2010 - 13:30,Group B,Soccer City Stadium,Johannesburg,Argentina,4.0,1.0,Korea,,...,1.0,DE BLEECKERE Frank (BEL),HERMANS Peter (BEL),VROMANS Walter (BEL),249722.0,300061458.0,ARG,NSK,NaN,3.0
737,2010.0,21 Jun 2010 - 13:30,Group G,Cape Town Stadium,Cape Town,Portugal,7.0,0.0,Korea,,...,0.0,POZO Pablo (CHI),BASUALTO Patricio (CHI),MONDRIA Francisco (CHI),249722.0,300061487.0,POR,NSK,NaN,1.0
742,2010.0,22 Jun 2010 - 20:30,Group B,Durban Stadium,Durban,Nigeria,2.0,2.0,Korea,,...,1.0,Olegrio BENQUERENA (POR),CARDINAL Jose (POR),MIRANDA Bertino (POR),249722.0,300111115.0,NGA,NSK,NaN,2.0
756,2010.0,26 Jun 2010 - 16:00,Round of 16,Port Elizabeth Stadium,Nelson Mandela Bay/Port Elizabeth,Uruguay,2.0,1.0,Korea,,...,0.0,Wolfgang STARK (GER),SALVER Jan-Hendrik (GER),PICKEL Mike (GER),249717.0,300061504.0,URU,NSK,NaN,1.0
788,2014.0,17 Jun 2014 - 18:00,Group H,Arena Pantanal,Cuiaba,Russia,1.0,1.0,Korea,,...,0.0,PITANA Nestor (ARG),MAIDANA Hernan (ARG),BELATTI Juan Pablo (ARG),255931.0,300186499.0,RUS,NSK,NaN,0.0